.mapa{
  fill: #424242;
  stroke: #ffffff;
  stroke-width: 2px;
}

.departamento:hover {
  fill: #46c25b;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.dropdown-item:hover{
  background: rgb(88, 88, 88);
}

h1{
 padding: 40px;
}