/*Estilos para el mapa */
.mapa a{
  fill: #424242;
  stroke: #ffffff;
  stroke-width: 2px;
}

.departamento:hover {
  fill: #46c25b;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

/*Estilos para el menu superior*/
.dropdown-item:hover{
  background: rgb(92, 92, 92);
}

h1{
 padding: 40px;
}

/*Estilo para el formulario*/
fieldset{
  border: 1px #5c5c5c solid;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
}